.incident {
    border: 1px solid #dddddd;
    border-top: none;
    display: grid;
    grid-template-columns: 5em 100fr;
    padding: 1em;
    width: 100%;

    &:hover {
        background: #e6f7ff;
    }
}