$colour: #000000;

.indexPage {
    color: $colour;

    .pageControls {
        display: grid;
        grid-template-columns: auto 100fr auto;
        text-align: center;
        width: 20em;
    }
}